/* Corps centré */
/* body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 50px 0;
    font-family: sans-serif;
    background-color: rgb(253, 244, 201);
} */

.last {
    background-color: lightgray;

    width: 800px;
    padding: 20px;
    border-radius: 30px;
    opacity: 75%;
    font-weight: bold;
    color: black;
}

.last p {
    font-size: 1.5rem;
}

.podium {
    background-image: url("../images/leaderboard/leaderboard.png");
    width: 800px;
    height: 450px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
    
    margin: 40px auto;
    position: relative;
}

.place {
    position: absolute;
    font-weight: bold;
    color: white;
    text-align: center;
    width: 300px;
}

.first {
    bottom: 250px; 
    left: 50%;
    transform: translateX(-50%); /* Centre parfaitement au milieu horizontal */
}

.first p {
    font-size: 2rem;
}

.second {
    bottom: 180px;
    left: -1%; /* Ajuste ce % pour le décaler à gauche sur sa marche */
}

.second p {
    font-size: 1.8rem;
}

.third {
    bottom: 150px;
    right: -1%; /* Ajuste ce % pour le décaler à droite sur sa marche */
}

.third p {
    font-size: 1.5rem;
}