.popup {
    position:fixed;
    display:none;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 11;
    backdrop-filter: blur(10px);
    color: white;


    h1 {
        font-size: 30px;
        color: white;
        font-style: italic;
    }

    p {
        color:white;
    }

    button {
        background-color: #451110;
        padding: 6px 16px;
        color:white;
        border: none;
        transition: all .2s ease;
        cursor: pointer;
    }

    &.visible {
        display: flex;
        justify-content: center;
        animation: fadeIn .3s cubic-bezier(0.19, 1, 0.22, 1);
        animation-fill-mode: both;
        align-items: center;
        
    }

    .popupContent {
        animation: slideUp .4s;
        animation-fill-mode: both;
        background: #451110;
        border-radius: 4px;
        color: black;
        margin: 0 100px;
        max-width: 500px;
        position: relative;
        padding: 10px 50px 20px;

        .closeButton {
            position: absolute;
            right: 10px;
            top: 10px;
            padding: 10px;
            border-style: outset;
        }
    }
}

@keyframes fadeIn{
	from { opacity: 0; }
	to { opacity: 1; }
}
@keyframes slideUp{
	from { transform: translateY(60px); }
	to { transform: translateY(0); }
}